/* DEFAULT HEX COLOR: #1c9355 */


/* CHANE IT BY REPLEACING THE VALUE ABOVE */

::-moz-selection {
	background: #1c9355;
	color: #333;
	text-shadow: none;
}
::selection {
	background: #1c9355;
	text-shadow: none;
	color: #333;
}
.text-colored,
h1.text-colored,
h2.text-colored,
h3.text-colored,
h4.text-colored,
h5.text-colored,
h6.text-colored,
.color-font,
.color-font a,
.widget-tweeter li a,
.widget-twitter li a,
p.text-colored,
.heading.heading-colored h1,
.heading.heading-colored h2 {
	color: #1c9355 !important;
}
.progress-bar-container.color .progress-bar {
	background-color: #1c9355;
	color: #fff;
}
.blockquote-color {
	background-color: #1c9355;
	color: #fff;
}
.blockquote-color > small {
	color: #fff;
}

/*buttons*/
.button.color,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
	background-color: #1c9355 !important;
	border: 1px solid #1c9355 !important;
}

/*go to top*/

.gototop-button {
	background-color: #1c9355;
}
.gototop-button {
	color: #fff;
}
nav .main-menu .dropdown-menu {
	border-color: #1c9355;
}
#header:not(.header-transparent) #mainMenu > ul > li:hover > a,
#header:not(.header-transparent) #mainMenu > ul > li.current-menu > a, .link-active {
	color: #1c9355;
}
#topbar.topbar-colored {
	background-color: #1c9355;
}

/*vertical-dot-menu */

#vertical-dot-menu a:hover .cd-dot,
#vertical-dot-menu a.active .cd-dot {
	background-color: #1c9355;
}

/*scrollspy nav */


/*.sidebar-menu ul.nav-tabs li, */

.sidebar-menu ul.nav-tabs li:hover .sidebar-menu ul.nav-tabs li a,
.sidebar-menu ul.nav-tabs li a:hover,
.sidebar-menu ul.nav-tabs li.active a,
.sidebar-menu ul.nav-tabs li.active a:hover {
	color: #fff;
	background: #1c9355;
	border: 1px solid #1c9355;
}

/*Bootstrap defaults overrides*/

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	background-color: #1c9355;
	border-color: #1c9355;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
	color: #fff;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
	color: #1c9355;
}
pre {
	background-color: #fcfcfc;
	border: 1px solid #ececec;
}
.alert {
	border-left-width: 10px;
	border-radius: 0;
}
.alert-success {
	background-color: #5cb85c;
	border-color: #53af53;
}
.alert-info {
	background-color: #2699c8;
	border-color: #3aaddc;
}
.alert-warning {
	background-color: #f6b63a;
	border-color: #ffcd51;
}
.alert-danger {
	background-color: #de4b37;
	border-color: #f3604c;
}
.alert,
.alert a.alert-link {
	color: #fff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #1c9355;
	border-color: #1c9355;
	color: #fff;
}
.pagination > li > a:hover i,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #333;
}

/*navs*/

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: #1c9355;
	color: #fff;
}

/*Typography*/

a:hover {
	color: #1c9355;
}

/*dropcat & highlight*/

.dropcap.dropcap-colored,
.dropcap.dropcap-colored a,
.highlight.highlight-colored,
.highlight.highlight-colored a {
	background-color: #1c9355;
	color: #fff;
}

/*timeline*/

.timeline.timeline-colored .timeline-circles:before,
.timeline.timeline-colored .timeline-circles:after,
.timeline.timeline-colored .timeline-date,
.timeline.timeline-colored:before {
	background-color: #1c9355;
	color: #fff;
}
.timeline.timeline-colored li .timeline-block:before {
	border-color: transparent #1c9355;
}
.timeline.timeline-colored .timeline-block-image {
	border-color: #1c9355;
}
.timeline.timeline-colored.timeline-simple .timeline-date {
	background-color: #fff;
	border: 1px solid #1c9355;
	color: #1c9355;
}

/*tabs*/

.border .tabs-navigation li.active a:after {
	background: #1c9355;
}

/*accordions*/

.breadcrumb a:hover {
	color: #1c9355;
}

/*color*/

.accordion.color .ac-item .ac-title {
	background: #1c9355;
	color: #fff;
}
.accordion.color-border-bottom .ac-item .ac-title {
	border-bottom: 1px dotted #1c9355;
}
.accordion.color-border-bottom .ac-item .ac-title:before {
	color: #1c9355;
}

/*ICONS*/

.icon-box.color .icon i {
	background: #1c9355;
	color: #fff;
}
.icon-box.color .icon i:after {
	box-shadow: 0 0 0 3px #1c9355;
}
.icon-box.border.color .icon,
.icon-box.border.color .icon i {
	color: #1c9355;
	border-color: #1c9355;
}
.icon-box.fancy.color .icon i {
	color: #1c9355;
	background-color: transparent;
}

/*FONT AWESOME ICONS*/

.fontawesome-icon-list .fa-hover a:hover {
	background-color: #1c9355;
}

/*lists icons*/

ul.icon-list li i {
	color: #1c9355;
}

/* ----------------------------------------------------------------
    Backgrounds
-----------------------------------------------------------------*/

.background-colored {
	background-color: #1c9355 !important;
}

/* ----------------------------------------------------------------
    NPROGRESS
-----------------------------------------------------------------*/

#nanobar-progress div {
	background: #1c9355 !important;
}

/* ----------------------------------------------------------------
    PORTFOLIO
-----------------------------------------------------------------*/

.portfolio-filter li.ptf-active,
.portfolio-filter li:hover {
	background-color: #1c9355;
}
.portfolio-filter li:not(.ptf-active):hover {
	color: #1c9355;
}

/* ----------------------------------------------------------------
    HEADINGS
-----------------------------------------------------------------*/

.heading-title-border-color {
	border-color: #1c9355;
}

/* ----------------------------------------------------------------
    IMAGE BOX
-----------------------------------------------------------------*/

.image-box-links a {
	background-color: #1c9355;
}
.image-box.effect.bleron {
	background-color: #1c9355;
}
.image-block-content .feature-icon {
	background-color: #1c9355;
}
.image-box.effect.bleron p.image-box-links a {
	color: #1c9355;
}

/* ----------------------------------------------------------------
    SHOP PRODUCTS
-----------------------------------------------------------------*/

.product .product-wishlist a:hover {
	border-color: #1c9355;
}

/* ----------------------------------------------------------------
    Carousel
-----------------------------------------------------------------*/

.carousel-description-style .owl-carousel .owl-controls .owl-nav .owl-next,
.carousel-description-style .owl-carousel .owl-controls .owl-nav .owl-prev {
	border-color: #1c9355;
}

/* ----------------------------------------------------------------
    custom color
-----------------------------------------------------------------*/

.social-icons li a:hover i, .icon-box.border:hover > .icon i {
	color: #1c9355 !important;
}
#page-title {
	min-height: 250px;
}

.footer-content {
	box-shadow:0 -2px 0 4px #1c9355; 
}
#footer {
	background-color: #1a1a1a;
}

#header {
	box-shadow: 0 0 0 2px  #1c9355; 
}

.panel-primary {
    border-color: #1c9355;
    border-radius: 0;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
	box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
	border-color: transparent;
}


.panel-primary > .panel-heading {
    color: #fff;
    background-color: #1c9355;
    border-color: #1c9355;
    border-radius: 0;
}

.seperator, .separator {
	font-weight: 600;
	color: #000;
	font-size: 18px;
}

.panel-primary .panel-body {
    line-height: 20px;
}

.panel-primary .list-medium li {
    margin: 5px 0;
    line-height: 20px;
}


.seperator::before, .seperator::after, .separator::before, .separator::after {
    border-bottom: 1px solid #1c9355;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	    filter: alpha(opacity=30);
	    -khtml-opacity: 0.3;
	    -moz-opacity: 0.3;
	    opacity:0.3;
}

.post-item {
	border-color: #b7d8c7;
}